body{
	background-color:gold;
}
#A{
	color:red;
	font-size:50px;
}
.B{
	color:white;
	font-size:20px;
}
#L{
	color:red;
	font-size:50px;
}
#C{
	color:white;
	font-size:20px;
}
#S{
	color:red;
	font-size:50px;
}
#I{
	color:white;
	font-size:20px;
}